/*  couleur générale du noeud root */
.grid-pane {
    -fx-background-color: palegoldenrod;
}

/* zone du mode d'emploi' */
.text-flow {
    -fx-background-color: thistle;
}

/*  texte mode d'emploi normal' */
.textRegular {
    -fx-font-family: sans-serif;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-font-size: 13;
}
.textItalic {
    -fx-font-family: sans-serif;
    -fx-font-weight: normal;
    -fx-font-style: italic;
    -fx-font-size: 13;
}

.textBold {
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-font-size: 13;
}

.button:pressed {
    -fx-background-color: lightblue;
}


.button:hover {
    -fx-border-width: 4;
    -fx-border-color: blueviolet;
}

/*  bouton Calculer */
.button {
    -fx-background-color: cornflowerblue;
    -fx-opacity: 1;
    -fx-font-weight: bolder;
    -fx-font-family: System;
    -fx-font-size: 24;
    -fx-border-color: darkblue;
}



/*  Valeur 1, Valeur 2 et Accroissement. */
.label {
    -fx-font-weight: bolder;
}

#errorText {
    -fx-font-family: sans-serif;
    -fx-font-weight: bolder;
    -fx-font-size: 15;
    -fx-font-style: normal;
    -fx-fill: red;
}
